.main-newsletter {
  padding: 80px 0;
  text-align: center;

  .section-title {
    margin-bottom: 69px;

    h6 {
      @include text-style(h3, $text);
      margin-bottom: 17px;
    }

    h2 {
      @include text-style(h2, $text);
      margin-bottom: 27px;
    }

    p {
      @include text-style(h4, $second-text);
    }
  }

  .m-img-wrapper {
    margin-bottom: 59px;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .CTA-container {
    p {
      @include text-style(paragraph, $second-text);
      margin-bottom: 34px;

      strong {
        @include text-style(h3, $text);
        display: block;
        margin-bottom: 10px;
      }
    }

    .input-container {
      @include flexbox();
      flex-direction: column;

      input {
        width: 353px;
        height: 54px;
        padding-left: 35px;
        margin-bottom: 12px;
        background-color: $input-bg;
        border: 1px solid $input-border;
        border-radius: 50px;

        &::placeholder {
          color: #000;
        }
      }

      button {
        @include button($blue, 353, 17, 128);
      }
    }
  }

  @include responsive {
    .content-container {
      @include flexbox;
      flex-direction: row;

      .desktop-layout-container {
        order: 1;
        width: 544px;
        text-align: left;
      }

      .section-title {
        margin-bottom: 12px;
      }

      .CTA-container {
        p {
          strong {
            margin-bottom: 0;
          }
        }

        .input-container {
          @include flexbox(flex-start, center);
          flex-direction: row;
          margin: auto 0;

          input {
            width: 273px;
            height: 54px;
            padding-left: 35px;
            margin-right: 12px;
            margin-bottom: 0;
            background-color: $input-bg;
            border: 1px solid $input-border;
            border-radius: 50px;

            &::placeholder {
              color: #000;
            }
          }

          button {
            @include button($blue, 172, 18, 38);
          }
        }
      }

      .d-img-wrapper {
        order: 0;
        width: 855px;
        margin-right: 112px;
        text-align: right;

        img {
          width: 677px;
          height: 514px;
        }
      }
    }
  }
}
