$font-main: 'Graphik', sans-serif;
$font-mobile: 'Roboto', sans-serif;

$letter-spacing-1: 0.1px;
$letter-spacing-2: 0.2px;

$h1-size: 74px;
$h1-line-height: 84px;
$h1-letter-spacing: $letter-spacing-2;

$h2-size: 48px;
$h2-line-height: 55px;
$h2-letter-spacing: $letter-spacing-2;

$h3-size: 20px;
$h3-line-height: 28px;
$h3-letter-spacing: $letter-spacing-1;

$h4-size: 28px;
$h4-line-height: 40px;
$h4-letter-spacing: $letter-spacing-2;

$h6-size: 16px;
$h6-line-height: 23px;
$h6-letter-spacing: $letter-spacing-1;

$button-size: 20px;
$button-line-height: 20px;
$button-letter-spacing: $letter-spacing-2;

$paragraph-size: 18px;
$paragraph-line-height: 25px;
$paragraph-letter-spacing: $letter-spacing-2;

$link-size: 15px;
$link-line-height: 28px;
$link-letter-spacing: $letter-spacing-2;

$mobile-size: 30px;
$mobile-line-height: 45px;
$mobile-letter-spacing: $letter-spacing-2;
